/* 
    Document   : style
    Created on : Jun 11, 2012, 9:03:59 PM
    Author     : Mike Newell
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    background-color: #fbfbfb;
}
